<div class="opportunities-window">

  <div class="opp-counter">
    <i class="i_opportunity"></i> {{oppCount}} Opportunities Rolled
  </div>

  {{> opp-section title="General Opportunities" entries=generic}}

  {{#if opps.length}}
    {{> opp-section title=sectionTitle entries=opps ringClass=ring}}
  {{/if}}

</div>

{{!-- Inline partial: renders one collapsible opportunity section --}}
{{#*inline "opp-section"}}
<section class="opp-section {{ringClass}}">
  <h3>{{title}}</h3>
  {{#if entries.length}}
  <ul class="opp-list">
    {{#each entries}}
    <li class="opp-entry">
      <span class="opp-cost">{{#times this.cost}}<i class="i_opportunity"></i>{{/times}}</span>
      <div class="opp-body">
        <strong class="opp-name">{{this.name}}</strong>
        <p class="opp-desc">{{this.description}}</p>
        {{#if this.note}}<em class="opp-note">{{this.note}}</em>{{/if}}
      </div>
    </li>
    {{/each}}
  </ul>
  {{else}}
  <p class="opp-empty">No specific opportunities defined for this type.</p>
  {{/if}}
</section>
{{/inline}}
