<div class="opportunities-window">

  <div class="opp-counter">
    <i class="i_opportunity"></i> {{oppCount}} Opportunities Rolled
  </div>

  <nav class="opp-tabs">
    <a class="opp-tab active" data-tab="active">Active</a>
    {{#each skillGroupTabs}}
    <a class="opp-tab {{#if isCurrent}}current{{/if}}" data-tab="{{id}}">{{label}}</a>
    {{/each}}
    <a class="opp-tab {{#if invocationTab.isCurrent}}current{{/if}}" data-tab="invocations">Invocations</a>
    <a class="opp-tab" data-tab="shadowlands">Shadowlands</a>
    <a class="opp-tab" data-tab="downtime">Downtime</a>
    <a class="opp-tab" data-tab="war">War</a>
    <a class="opp-tab" data-tab="negotiation">Negotiation</a>
    <a class="opp-tab" data-tab="romance">Romance</a>
    <a class="opp-tab" data-tab="espionage">Espionage</a>
  </nav>

  <div class="opp-panels">

    {{!-- Active tab: generic + current roll context --}}
    <div class="opp-panel active" data-tab="active">
      {{> opp-section title="General Opportunities" entries=generic}}
      {{#if activeOpps.length}}
        {{> opp-section title=activeTitle entries=activeOpps ringClass=ring}}
      {{else}}
        <p class="opp-empty opp-empty-hint">Roll a skill check to see ring-specific opportunities here.</p>
      {{/if}}
    </div>

    {{!-- One panel per skill group --}}
    {{#each skillGroupTabs}}
    <div class="opp-panel" data-tab="{{id}}">
      {{> opp-section title=sectionTitle entries=opps ringClass=../ring}}
    </div>
    {{/each}}

    {{!-- Invocations panel --}}
    <div class="opp-panel" data-tab="invocations">
      {{> opp-section title=invocationTab.sectionTitle entries=invocationTab.opps ringClass=ring}}
    </div>

    {{!-- Shadowlands panel --}}
    <div class="opp-panel" data-tab="shadowlands">
      {{> opp-section title=shadowlandsTab.shadowlandsTitle  entries=shadowlandsTab.shadowlands    ringClass=ring}}
      {{> opp-section title=shadowlandsTab.whileTaintedTitle entries=shadowlandsTab.whileTainted   ringClass=ring}}
      {{> opp-section title=shadowlandsTab.againstTitle      entries=shadowlandsTab.againstTainted ringClass=ring}}
      {{> opp-section title=shadowlandsTab.initiativeTitle   entries=shadowlandsTab.initiativeCheck ringClass=ring}}
    </div>

    {{!-- Downtime panel --}}
    <div class="opp-panel" data-tab="downtime">
      {{> opp-section title=downtimeTab.title entries=downtimeTab.opps ringClass=ring}}
    </div>

    {{!-- War panel --}}
    <div class="opp-panel" data-tab="war">
      {{> opp-section title=warTab.mobilizingTitle  entries=warTab.mobilizing  ringClass=ring}}
      {{> opp-section title=warTab.massBattlesTitle entries=warTab.massBattles ringClass=ring}}
      {{> opp-section title=warTab.contestedTitle   entries=warTab.contested   ringClass=ring}}
    </div>

    {{!-- Negotiation panel --}}
    <div class="opp-panel" data-tab="negotiation">
      {{> opp-section title=negotiationTab.title entries=negotiationTab.opps ringClass=ring}}
    </div>

    {{!-- Romance panel --}}
    <div class="opp-panel" data-tab="romance">
      {{> opp-section title=romanceTab.title entries=romanceTab.opps ringClass=ring}}
    </div>

    {{!-- Espionage panel --}}
    <div class="opp-panel" data-tab="espionage">
      {{> opp-section title=espionageTab.title entries=espionageTab.opps ringClass=ring}}
    </div>

  </div>

</div>

{{!-- Partial: one collapsible opportunity section --}}
{{#*inline "opp-section"}}
<section class="opp-section {{ringClass}}">
  <h3>{{title}}</h3>
  {{#if entries.length}}
  <ul class="opp-list">
    {{#each entries}}
    <li class="opp-entry">
      <span class="opp-cost">{{#times this.cost}}<i class="i_opportunity"></i>{{/times}}</span>
      <div class="opp-body">
        <strong class="opp-name">{{this.name}}</strong>
        <p class="opp-desc">{{fmtOpp this.description}}</p>
        {{#if this.note}}<em class="opp-note">{{fmtOpp this.note}}</em>{{/if}}
      </div>
    </li>
    {{/each}}
  </ul>
  {{else}}
  <p class="opp-empty">No opportunities defined for this combination.</p>
  {{/if}}
</section>
{{/inline}}
